@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


:root {
  --background: linear-gradient(to bottom, #EFF5FF, #BBC8DC, #49576D);
  --foreground: #4E5A70;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
               Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: var(--font-geist-mono);
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

